/* ICOMOON */
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?ri4xga");
  src: url("../fonts/icomoon.eot?ri4xga#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?ri4xga") format("truetype"),
    url("../fonts/icomoon.woff?ri4xga") format("woff"),
    url("../fonts/icomoon.svg?ri4xga#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\f099";
}
.icon-github:before {
  content: "\f09b";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-stack-overflow:before {
  content: "\f16c";
}
.icon-lastfm:before {
  content: "\f202";
}

/* CUSTOM */
html {
  font: 22px/1.6em "Roboto", sans-serif;
  font-weight: 300;
  background-color: #fdfdfd;
}

em {
  font-weight: 400;
  font-style: normal;
  color: #3f51b5;
}

#content {
  margin: 80px auto 0;
  padding: 0 20px;
  max-width: 600px;
  text-align: center;
}

#avatar {
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
}

#intro {
  text-align: justify;
}

#intro p {
  margin-bottom: 1em;
}

#intro em {
  text-transform: uppercase;
}

#links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  #links li {
    width: 33%;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
  }
}

.link {
  text-decoration: none;
  position: relative;
  display: block;
  width: 3.75em;
  height: 3.75em;
  border-radius: 100%;
  border: solid 1px #000;
  line-height: 3.75em;
  overflow: hidden;
  text-align: center;
  text-indent: 3.75em;
  white-space: nowrap;
  transition: color 0.2s linear;
}

.link:before {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  color: #000;
  font-size: 1.85rem;
  line-height: inherit;
  text-align: center;
  text-indent: 0;
  transition: color 0.2s linear;
}

.link:before {
  color: #fafafa;
  text-shadow: 1.25px 0px 0px #000, -1.25px 0px 0px #000, 0px 1.25px 0px #000,
    0px -1.25px 0px #000;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
}

.link:hover,
.link:focus {
  color: #3f51b5;
  border-color: #3f51b5;
}

.link:hover:before,
.link:focus:before {
  text-shadow: 1.25px 0px 0px #3f51b5, -1.25px 0px 0px #3f51b5,
    0px 1.25px 0px #3f51b5, 0px -1.25px 0px #3f51b5;
}

.no-js #cheat {
  display: none;
}

#cheat {
  display: inline-block;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0 12px;
  font-size: 0.7em;
  opacity: 0.6;
  z-index: -1;
  user-select: none;
  cursor: default;
}

a:not([href]) {
  display: none;
}
